
.movie__title{
    color: rgba(255,255,255,0.8);
    transition: all 100ms;
}
.movie__title:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.movie__title:hover:after{
    content: " Explore >";
}
.row{
    color:white;
    margin-left: 20px;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__posters::-webkit-scrollbar{
    display: none;
}
.row__poster{
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 300ms;
}
.row__poster:hover{
    transform: scale(1.08);
    opacity: 1;
}
.row__posterLarge{
    max-height: 250px;
}
.row__posterLarge:hover{
    transform: scale(1.09);
}